body {
  margin: 0;
  background-color: #232429;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  border: 1px #5f9ae2 dashed;
}

button {
  border-radius: 2px;
  border: 1px solid #91b6e3;
  outline: none;
  margin: 5px;
  cursor: pointer;
}

button:active {
  border: 1px solid #5f9ae2;
  background: #d6ecff;
}